@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gunmetal text-white;
  }

  .fill-effect-thumb {
    border-radius: 50%;
    opacity: 1 !important;
  }

  .fill-effect:hover .fill-effect-thumb {
    transform: scale(100) !important;
    opacity: 1 !important;
  }
}