.circular-progress {
  position: relative;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  /* stroke: #ddd; */
  /* Rotate the entire progress bar */
}

.circle {
  fill: none;
  /* stroke: v; */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}