@layer global,
theme,
specials;

@layer global {
  :root {
    --primary: #6f53f4;
    --primaryOpact: #6e53f46b;
    --primaryVariant1: #4b4bc4;
    --primaryVariant1Opact: #4b4bc462;

    --color: #050506;
    --colorLight: #fff;
    --colorDark: #050506;
    --colorInfo: hsl(240, 1%, 65%);

    --documentBackground: #ffffff;
    --backgroundLight: #fff;
    --backgroundDark: #140e2d;

    --disabledBackground: #b8b8ba;
    --cardBackground: #fff;
    --inputBackground: #fff;
    --border: hsl(240, 28%, 85%);
    --shadow: hsla(247, 84%, 90%, 0.8);
    --greyVariant: #eef0f3;

    --shadowDark: #0b08145d;


    --red: #f25353;
    --redVariant: #db4b4b;
    --redOpact: #f253534b;
    --redOpact2: rgba(242, 83, 83, 0.05);
    --redVariantOpact: #db4b4b46;
    --green: #41cf7c;
    --greenVariant: #2fb165;
    --greenOpact: #41cf7c50;
    --greenOpact2: #41cf7c0a;
    --greenVariantOpact: #2fb16544;
    --yellow: #feb32b;
    --yellowVariant: #da981e;
    --yellowOpact: #feb42b48;
    --yellowOpact2: #feb42b09;
    --yellowVariantOpact: #da981e44;
    --baseSize: 16px;
    --fontSize: var(--baseSize);
    --h1: calc(var(--baseSize) * 2.5);
    --h2: calc(var(--baseSize) * 2);
    --h3: calc(var(--baseSize) * 1.5);
    --h4: calc(var(--baseSize) * 1.25);
    --h5: calc(var(--baseSize) * 1);
    --h6: calc(var(--baseSize) * 0.75);
    --body1: calc(var(--baseSize) * 1);
    --body2: calc(var(--baseSize) * 0.8);
    --body3: calc(var(--baseSize) * 0.7);
    --body4: calc(var(--baseSize) * 0.6);
    --borderRadius: calc(var(--baseSize) * 0.5);
    --sidebarWidth: calc(var(--baseSize) * 20);
    --sidebarCloseWidth: calc(40px + 4.1em);
    --line-height: 1.5;
    --font-family: Inter,
      system-ui,
      Avenir,
      Helvetica,
      "Segoe UI",
      Roboto,
      Calibri,
      Arial,
      sans-serif;
  }

  * {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0 !important;
    /* padding: 5em !important; */
    font-size: var(--fontSize);
    line-height: var(--line-height);
    font-family: var(--font-family);
    color: var(--color);
    background: var(--documentBackground);
    min-height: 100vh;
    /* overflow-x: hidden; */
  }

  a {
    display: inline-block;
    color: inherit;
  }

  img,
  video,
  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
  }

  input,
  button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
}

@layer theme {
  .hero {
    position: relative;
  }

  .hero>.inner {
    min-height: calc(1em + 94px + 50vh);
    padding: 1em;
    padding-top: calc(1em + 94px);
    padding-bottom: 94px;
    /* display: flex; */
    justify-content: center;
    background: linear-gradient(var(--primaryVariant1), var(--primary));
  }

  .me {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 1.5em;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    /* border-left: 1px solid #fff; */
  }

  .me>.image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 1.5em;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    /* border-left: 1px solid #fff; */
  }

  .me>.image>.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
  }

  .hero>.inner>.text {
    color: #fff;
    width: 80%;
    text-align: center;
  }

  .hero>.inner>.text>.title {
    font-size: var(--h2);
    font-weight: bold;
  }

  .hero>.inner>.text>.description {
    opacity: 0.7;
  }

  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 1em;
  }

  .topbar>.topbar-inner {
    background: var(--primaryOpact);
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    color: #fff;
    border-radius: var(--borderRadius);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 10px #0000001c;
  }

  .topbar>.topbar-inner>.topbar-brand {
    font-size: var(--h4);
    font-weight: bold;
  }

  .btn {
    padding: calc(var(--baseSize) * 0.75) calc(var(--baseSize) * 1.5);
    border-radius: var(--borderRadius);
    color: var(--colorLight);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, border 0.3s, opacity 0.3s;
  }

  .btn.btn-white {
    background: var(--backgroundLight);
    border: 1px solid var(--backgroundLight);
    color: var(--primary);
    transition: box-shadow 0.3s ease-in-out;
  }

  .btn.btn-white:hover {
    box-shadow: 0px 0 0 3px #ffffff65,
      0px 0 0 6px #ffffff2a;
  }

  .btn.btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
  }

  .btn.btn-primary:hover {
    background: var(--primaryVariant1);
    border: 1px solid var(--primaryVariant1);
  }

  .btn.btn-secondary {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  .btn.btn-success {
    background: var(--green);
    border: 1px solid var(--green);
  }

  .btn.btn-success:hover {
    background: var(--greenVariant);
    border: 1px solid var(--greenVariant);
  }

  .btn.btn-warning {
    background: var(--yellow);
    border: 1px solid var(--yellow);
  }

  .btn.btn-warning:hover {
    background: var(--yellowVariant);
    border: 1px solid var(--yellowVariant);
  }

  .btn.btn-danger {
    background: var(--red);
    border: 1px solid var(--red);
  }

  .btn.btn-danger:hover {
    background: var(--redVariant);
    border: 1px solid var(--redVariant);
  }

  .btn.btn-small {
    font-size: var(--body2);
  }

  .btn.btn-big {
    font-size: var(--h3);
  }

  .btn.btn-large {
    width: 100%;
  }

  .btn.btn-disabled {
    opacity: 0.5;
  }

  .card {
    box-shadow: 5px 5px 20px #0000003a;
    border-radius: var(--borderRadius);
    background: #ffffffab;
    backdrop-filter: blur(10px);
  }

  .card>.card-content {
    padding: 1.5em;
  }

  .socials {
    position: absolute;
    bottom: 0;
    padding: 0 1.5em;
    transform: translateY(-5%);
  }

  .social-card {
    text-align: center;
  }

  .social-card .icon {
    background: var(--primaryVariant1Opact);
    box-shadow: 0 0 0 3px var(--primaryOpact);
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border-radius: 50%;
  }

  .social-card .title {
    /* font-size: var(--h4); */
    font-weight: bold;
    color: var(--primary);
  }

  .social-card .username {
    font-size: 0.80em;
  }
}

@layer specials {
  ::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 20px;
    background: var(--border);
  }

  .grid {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
  }

  .grid.grid-gap {
    gap: var(--baseSize);
  }

  .flex {
    display: flex;
  }

  .flex.aic {
    align-items: center;
  }

  .flex.jcc {
    justify-content: center;
  }

  .flex.jcsb {
    justify-content: space-between;
  }

  .flex.flex-gap {
    gap: var(--baseSize);
  }

  .flex.jcsa {
    justify-content: space-around;
  }

  .flex.jcfe {
    justify-content: flex-end;
  }

  .flex.fdc {
    flex-direction: column;
  }

  .mb-1 {
    margin-bottom: calc(var(--baseSize) * 1);
  }

  .mb-2 {
    margin-bottom: calc(var(--baseSize) * 1.5);
  }

  .mb-3 {
    margin-bottom: calc(var(--baseSize) * 2);
  }

  .mb-4 {
    margin-bottom: calc(var(--baseSize) * 2.5);
  }

  .mb-5 {
    margin-bottom: calc(var(--baseSize) * 3);
  }

  .mt-1 {
    margin-top: calc(var(--baseSize) * 1);
  }

  .mt-2 {
    margin-top: calc(var(--baseSize) * 1.5);
  }

  .mt-3 {
    margin-top: calc(var(--baseSize) * 2);
  }

  .mt-4 {
    margin-top: calc(var(--baseSize) * 2.5);
  }

  .mt-5 {
    margin-top: calc(var(--baseSize) * 3);
  }

  .w100 {
    width: 100%;
  }

  .w50 {
    width: 50%;
  }

  .w33 {
    width: calc(100% / 3);
  }

  .lh-0 {
    line-height: 1;
    /* vertical-align: middle; */
  }

  .pr-3 {
    padding-right: 1.5em;
  }

  .pl-3 {
    padding-left: 1.5em;
  }

  .sp-1 {
    padding: 1em !important;
  }

  .tac {
    text-align: center;
  }

  @media (min-width: 740px) {
    .hero>.inner {
      flex-direction: row-reverse !important;
      gap: 2em !important;
    }

    .hero>.inner>.text {
      text-align: left;
      width: calc(100% - 300px - 2em) !important;
    }

    .hero .buttons {
      display: block;
    }
  }

  @media (min-width: 850px) {
    .hero>.inner>.text {
      width: calc(90% - 300px - 2em) !important;
    }
  }

  @media (min-width: 1000px) {
    .hero>.inner>.text {
      width: 450px !important;
    }
  }
}